services:
  appsmith:
    image: appsmith/appsmith-ce:latest
    container_name: appsmith
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - appsmith-stacks:/appsmith-stacks

volumes:
  appsmith-stacks:
